<div class="view-container">
  <div class="header">
    <h2>Gestión de Especialidades</h2>
    <button class="btn-add">
       +Agregar Especialidad
    </button>
  </div>

  <div class="table-card">
    <h3>Listado de Especialidades</h3>
    
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Descripción</th>
          <th>Estado</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>#1</td>
          <td>Cardiología</td>
          <td>Especialidad en enfermedades del corazón y del sistema circulatorio.</td>
          <td>
            <span class="status-badge active">Activo</span>
          </td>
        </tr>
        <tr>
          <td>#2</td>
          <td>Pediatría</td>
          <td>Atención médica de bebés, niños y adolescentes.</td>
          <td>
            <span class="status-badge inactive">Inactivo</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>